<h3 class="alert bg-success">Total Products: 
  <%= link_to @product_count, '/admin/products' %>
</h3>
<h3 class="alert bg-info">Total Categories:
  <%= link_to @category_count,'/admin/categories' %>
</h3>
